.products-container {
    display: grid;
    grid-template-columns: 4fr 1fr;
}

.products {
    display: grid;
    grid-gap: 2rem;
    grid-template-columns: repeat(3, 1fr);
    margin: 5rem;
    justify-items: center;
    /* border: 2px solid red; */
}

.selected-item {
    /* padding-top: 20px; */
    /* padding-left: 30px; */
    position: sticky;
    top: 0;
    border-radius: 8px 8px 8px 8px;
}

.selected-button-container {
    display: flex;
    flex-wrap: wrap;
}

.choose-button, .choose-again-button {
    border: none;
    padding: .6rem;
    font-size: 14px;
    border-radius: 24px;
    background: hsl(210deg 100% 44%);
    color: #fff;
    margin: 10px;
}


@media screen and (max-width:576px) {
    .products-container {
        display: grid;
        grid-template-columns: 1fr;
    }
    
    .products {
        display: grid;
        grid-template-columns: 1fr;
        margin: 1rem;
    }
}