.selecteditem-container {
 display: flex;
 justify-content: flex-start;
 align-items: center;
 margin: 0 5px;
}

.selecteditem-container img {
    padding: 10px;
}

.selecteditem-container p {
    margin: 0;
}